chex==0.1.5
jax[cpu]==0.3.23
jaxlib==0.3.22
numpy>=1.19
scikit-learn>=1.1
optax>=0.1.3
tensorflow-probability==0.18.0
torch[cpu]

git+https://github.com/probml/dynamax

h5py==3.7.0
tqdm

# ---------------------
# Dev tools (optional)
# ---------------------
matplotlib
memory-profiler
pytest